{% extends 'base.html' %}

{% block title %}
    Delete Review
{% endblock %}

{% block content %}
    <h1>Delete review</h1>
    <h3>You're going to delete this review. Are you sure ?</h3>
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'home' %}">Annulla</a>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}