{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create a new review for seller</h1>
    {% crispy form %}
    <a class="btn" href="{% url 'home' %}">Cancel</a>
{% endblock %}