{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <h1>Change user password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
    <a class="btn" href="{% url 'profiles:user-detail' user.pk %}">Cancel</a>
{% endblock %}