{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    User: Update
{% endblock %}

{% block content %}
    <h1>User profile update</h1>
    {% crispy form %}
    <a href="{% url 'profiles:user-detail' user.pk %}" class="btn">Cancel</a>
{% endblock %}