{% extends 'base.html' %}
{% load static %}

{% block title %}
    Details of user {{ object.first_name }} {{ object.last_name }}
{% endblock %}

{% block style %}
    <style>
        .panel.panel-default {
            border-top-width: 3px;
        }
        .panel {
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
            border: 0;
            border-radius: 4px;
            margin-bottom: 16px;
        }
        .thumb96 {
            width: 96px!important;
            height: 96px!important;
        }
        .thumb48 {
            width: 48px!important;
            height: 48px!important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container bootstrap snippets bootdey">
        <div class="row ng-scope">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        {% if object.user_photo %}
                            <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="{{ object.user_photo.url }}" alt="Profile pic"></div>
                        {% endif %}
                        {% if user.pk == object.pk %}
                            <div class="text-center"><a class="btn btn-primary" href="{% url 'profiles:user-update' object.pk %}">Edit</a></div>
                            <div class="text-center"><a class="btn btn-primary" href="{% url 'profiles:change-password' %}">Change password</a></div>
                            {% if object.is_seller %}
                                <div class="text-center"><a class="btn btn-primary" href="{% url 'reviews:seller-reviews' object.pk %}">Reviews</a></div>
                            {% endif %}
                        {% else %}
                            {% if object.is_seller %}
                                <div class="text-center"><a class="btn btn-primary" href="{% url 'watches:sale_shop_list' object.pk %}">Watches</a></div>
                                <div class="text-center"><a class="btn btn-primary" href="{% url 'reviews:seller-reviews' object.pk %}">Reviews</a></div>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="h4 text-center">User Information</div>
                        <div class="row pv-lg">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <form class="form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputUser1">First Name</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputUser1" type="text" placeholder="" value="{{ object.first_name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputUser2">Last Name</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputUser2" type="text" value="{{ object.last_name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputUser3">Address</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputUser3" type="text" value="{{ object.address }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputUser4">Email</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputUser4" type="text" value="{{ object.email }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputUser6">Username</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputUser6" type="text" value="{{ object.username }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputUser7">Is a seller ?</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputUser7" type="text" value="{{ object.is_seller }}" disabled>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}