{% extends 'base.html' %}
{% load static %}
{% load is_owner_filter %}
{% load check_wishlist %}

{% block title %}
    Details of watch number {{ object_detail.pk }}
{% endblock %}

{% block style %}
    <style>
        .panel.panel-default {
            border-top-width: 3px;
        }
        .panel {
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
            border: 0;
            border-radius: 4px;
            margin-bottom: 16px;
        }
        .thumb96 {
            width: 96px!important;
            height: 96px!important;
        }
        .thumb48 {
            width: 48px!important;
            height: 48px!important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container bootstrap snippets bootdey">
        <div class="row ng-scope">
            <div class="col-md-4">
                <a type="button" class="btn btn-primary go-back" href="{% url 'watches:sale_announcement_list' %}">&larr;</a>

                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="{{ object_detail.watch_photos.url }}" alt="Photo of the watch"></div>
                        <h3 class="m0 text-bold">{{ object_detail.watch_brand }} {{ object_detail.watch_model }}</h3>
                        <p class="m0">Inserted: {{ object_detail.create_date.day }}/{{ object_detail.create_date.month }}/{{ object_detail.create_date.year }}</p>
                        <p class="m0">By: <a href="{% url 'profiles:user-detail' object_detail.watch_seller.pk %}">{{ object_detail.watch_seller.username }}</a></p>
                        {% if user|is_owner:object_detail %}
                            {% if not object_detail.is_bought %}
                                <div class="text-center"><a class="btn btn-primary" href="{% url 'watches:sale_announcement_update' object_detail.pk %}">Edit</a></div>
                            {% endif %}
                            <div class="text-center"><a class="btn btn-primary" href="{% url 'watches:sale_announcement_delete' object_detail.pk %}">Delete</a></div>
                        {% else %}
                            {% if user.is_authenticated %}
                                {% if not object_detail.is_bought %}
                                    <div class="text-center"><a class="btn btn-primary" href="{% url 'watches:confirm_purchase' object_detail.pk %}">Buy</a></div>
                                    {% if not user|is_in_wishlist:object_detail %}
                                        <div class="text-center"><a class="btn btn-primary" href="{% url 'wishlist:wishlist-add' object_detail.pk %}">Add to wishlist</a></div>
                                    {% else %}
                                        <div class="text-center"><a class="btn btn-primary" href="{% url 'wishlist:wishlist-remove' object_detail.pk %}">Remove from wishlist</a></div>
                                    {% endif %}
                                {% else %}
                                    <div class="text-center"><p class="m0">Watch has already been sold!</p></div>
                                {% endif %}
                            {% else %}
                                {% if not object_detail.is_bought %}
                                    <p class="m0"><a href="{% url 'profiles:user-login' %}">Login</a> or <a href="{% url 'profiles:user-registration' %}">Register</a> to buy.</p>
                                {% else %}
                                    <p class="m0">Watch has already been sold!</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="h4 text-center">Watch Information</div>
                        <div class="row pv-lg">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <form class="form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch1">Brand</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputWatch1" type="text" placeholder="" value="{{ object_detail.watch_brand }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch2">Model</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputWatch2" type="text" value="{{ object_detail.watch_model }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch3">Reference Number</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputWatch3" type="text" value="{{ object_detail.watch_reference }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch4">Price</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputWatch4" type="text" value="{{ object_detail.watch_price }}€" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch5">Description</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="inputWatch5" disabled>{{ object_detail.watch_description }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch6">Year</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputWatch6" type="text" value="{{ object_detail.watch_year }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch7">Watch Condition</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputWatch7" type="text" value="{{ object_detail.watch_condition }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch8">Watch Size</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputWatch8" type="text" value="{{ object_detail.watch_size }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch9">Watch Case Material</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputWatch9" type="text" value="{{ object_detail.watch_case_material }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputWatch10">Watch Bracelet Material</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="inputWatch8" type="text" value="{{ object_detail.watch_bracelet_material }}" disabled>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated and object_list %}
                <div class="panel panel-default hidden-xs hidden-sm w-100">
                    <div class="panel-heading">
                        <div class="panel-title h4 text-center">Similar objects</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% for object in object_list %}
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem;">
                                        <img src="{{ object.watch_photos.url }}" class="card-img-top" alt="{{ object.watch_brand }} {{ object.watch_model }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ object.watch_brand }} {{ object.watch_model }}</h5>
                                            <p class="card-text">{{ object.watch_price }}€</p>
                                            {% if object.is_bought %}
                                                <p class="card-text">Item has already been bought!</p>
                                            {% endif %}
                                            <a href="{% url 'watches:sale_announcement_detail' object.pk %}" class="btn btn-primary">See more</a>
                                            {% if user|is_owner:object %}
                                                {% if not object.is_bought %}
                                                    <a href="{% url 'watches:sale_announcement_update' object.pk %}" class="btn btn-primary">Edit</a>
                                                {% endif %}
                                                <a href="{% url 'watches:sale_announcement_delete' object.pk %}" class="btn btn-primary">Delete</a>
                                            {% else %}
                                                {% if user.is_authenticated %}
                                                    {% if not user|is_in_wishlist:object %}
                                                        <a href="{% url 'wishlist:wishlist-add' object.pk %}" class="btn btn-primary">Add to wishlist</a>
                                                    {% else %}
                                                        <a href="{% url 'wishlist:wishlist-remove' object.pk %}" class="btn btn-primary">Remove from wishlist</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}