{% extends 'base.html' %}

{% block title %}
    Watch Announcement: Delete
{% endblock %}

{% block content %}
    <h1>Sale announcement delete</h1>
    <h3>You're going to delete this watch. Are you sure ?</h3>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm">
        <a href="{% url 'watches:my_sale_announcement_list' %}">Cancel</a>
    </form>
{% endblock %}