{% extends 'base.html' %}

{% block title %}
    Purchase confirmation page
{% endblock %}

{% block content %}
    <p class="lead">
        You're going to buy a {{ object.watch_brand }} {{ object.watch_model }} paying {{ object.watch_price }}€.
    </p>
    <img src="{{ object.watch_photos.url }}" alt="Photo of the watch" class="img-thumbnail w-25 h-25">

    <form action="{% url 'watches:watch_bought' object.pk %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" name="submit" type="submit" role="button" value="Confirm">
    </form>
    <a href="{% url 'watches:sale_announcement_detail' object.pk %}">Cancel</a>
{% endblock %}