<!doctype html>
<html lang="it">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
    {% block style %}

    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% for message in messages %}
    <div class="alert
    {% if message.level == messages.SUCCESS %}
    alert-success
    {% elif message.level == messages.WARNING %}
    alert-warning
    {% elif message.level == messages.DANGER %}
    alert-danger
    {% else %}
    alert-info
    {% endif %}
    fade show alert-dismissible" role="alert">
        {{ message | safe }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Watch Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'profiles:user-detail' user.pk %}">My profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'wishlist:wishlist-all' %}">My Wishlist</a></li>
                        <li><a class="dropdown-item" href="{% url 'profiles:user-logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="dropdown">
                    <button class="btn bi bi-person dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'profiles:user-registration' %}">Register</a></li>
                        <li><a class="dropdown-item" href="{% url 'profiles:user-login' %}">Login</a></li>
                    </ul>
                </div>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watches:sale_announcement_list' %}">All watches</a>
            </li>

            {% if user.is_authenticated and user.is_seller %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watches:insert_sale_announcement' %}">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watches:my_sale_announcement_list' %}">My announcement</a>
                </li>
            {% endif %}
            {% block nav-auth %}

            {% endblock %}
        </ul>
    </div>
</nav>

<main class="container">
    {% block content %}

    {% endblock %}
</main>

<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <a href="{% url 'home' %}"> WatchMarket.it </a>
        Created by: Federico Gibertoni
    </div>
    <!-- Copyright -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
<script>
    $("#avanzate").hide();
    $("#drop-avanzate").click(function(){
        $("#avanzate").slideToggle();
    });

</script>
{% block script %}

{% endblock %}

</body>
</html>