{% extends 'base.html' %}

{% block title %} List
    {% block list_title %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block pre_content %}
    {% endblock %}
    <h1>{% block content_title %}{% endblock %}</h1>
    {% block list_head %}
    {% endblock %}

    {% block list_body %}
    {% endblock %}

    {% block list_after %}
    {% endblock %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% endif %}

            <li class="page-item active"><a class="page-link" id="actual-page-link" href="#">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
