{% extends 'base.html' %}
{% block title %}
    Watch Market
{% endblock %}

{% block content %}
    Welcome to this little watch market.
    <hr>
    <form method="get" action="{% url 'watches:sale_announcement_search_list' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10 mb-3">
                <div class="input-group" >
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" id="query" placeholder="Watch brand" name="query-brand">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" id="query" placeholder="Watch model" name="query-model">
                    <button type="button" class="btn btn-outline-secondary" aria-label="Left Align" id="drop-avanzate">
                        <i class="bi bi-gear-fill"></i>
                    </button>
                    <div class="input-group-append">
                        <button class="btn btn-primary"  type="submit" value="Submit" >Search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="input-group">
                    <label>Order by:</label>
                    <select name="order-by" class="custom-select">
                        <option value="p-asc">Price asc</option>
                        <option value="p-desc">Price desc</option>
                        <option value="date-asc">Date asc</option>
                        <option value="date-desc">Date desc</option>
                        <option value="year-asc">Year asc</option>
                        <option value="year-desc">Year desc</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="avanzate">
            <div class="col-md-12">
                <div class="input-group mb-5" >
                    <input class="form-control" placeholder="Min price" type="number" name="start-price" min="0">
                    <input class="form-control" placeholder="Max price" type="number" name="end-price" min="0">
                    <input class="form-control" placeholder="Min year of production" type="number" name="start-year" min="0">
                    <input class="form-control" placeholder="Max year of production" type="number" name="end-year" min="0">
                    <input class="form-control" placeholder="Min case size" type="number" name="start-case-size" min="0">
                    <input class="form-control" placeholder="Max case size" type="number" name="end-case-size" min="0">
                    <input class="form-control" placeholder="Ref number" type="text" name="ref-number">
                    <select name="case-material" class="custom-select">
                        <option value="">Select case material</option>
                        <option value="STAINLESS_STEEL">Stainless Steel</option>
                        <option value="WHITE_GOLD">White Gold</option>
                        <option value="YELLOW_GOLD">Yellow Gold</option>
                        <option value="ROSE_GOLD">Rose Gold</option>
                        <option value="PLATINUM">Platinum</option>
                        <option value="TITANIUM">Titanium</option>
                        <option value="ALTRO">Altro</option>
                    </select>
                    <select name="bracelet-material" class="custom-select">
                        <option value="">Select bracelet material</option>
                        <option value="STAINLESS_STEEL">Stainless Steel</option>
                        <option value="WHITE_GOLD">White Gold</option>
                        <option value="YELLOW_GOLD">Yellow Gold</option>
                        <option value="ROSE_GOLD">Rose Gold</option>
                        <option value="PLATINUM">Platinum</option>
                        <option value="TITANIUM">Titanium</option>
                        <option value="LEATHER">Leather</option>
                        <option value="RUBBER">Rubber</option>
                        <option value="ALTRO">Altro</option>
                    </select>
                    <select name="conditions" class="custom-select">
                        <option value="">Select watch conditions</option>
                        <option value="NEW_NEVER_WORN">New/Never worn</option>
                        <option value="VERY_GOOD">Very Good</option>
                        <option value="GOOD">Good</option>
                        <option value="POOR">Poor</option>
                        <option value="NOT_WORKING">Not working</option>
                    </select>
                </div>
            </div>
        </div>

    </form>
{% endblock %}